kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Chart.Name }}-config-map
  namespace: {{ .Values.namespace }}
data:
  nginx.conf: |
    user www-data;
    worker_processes auto;
    pid /run/nginx.pid;
    include /etc/nginx/modules-enabled/*.conf;

    events {
      worker_connections 768;
      # multi_accept on;
    }

    http {

      sendfile on;
      tcp_nopush on;
      tcp_nodelay on;
      keepalive_timeout 120;
      types_hash_max_size 2048;
      resolver kube-dns.kube-system.svc.cluster.local;

      include /etc/nginx/mime.types;
      default_type application/octet-stream;

      ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
      ssl_prefer_server_ciphers on;

      access_log /var/log/nginx/access.log;
      error_log /var/log/nginx/error.log;

      include /etc/nginx/conf.d/*.conf;
      include /etc/nginx/sites-enabled/*;

      map $http_upgrade $connection_upgrade {
        default upgrade;
        ''      close;
      }

        #################
        # Microservices #
        #################
      server {
            listen 8000;
            server_name {{ .Values.config.apiEndpoint }};

            # Add the microservice endpoints
            include /etc/nginx/microservices.conf;

            # Add the legacy endpoints
            include /etc/nginx/legacy.conf;
      }

        ###########
        # Dashhub #
        ###########
      server {
            listen 8001;
            server_name {{ .Values.config.apiEndpoint }};

            # Add the Dashhub endpoints
            include /etc/nginx/dashhub.conf;
      }

        ##############
        # Jupyterhub #
        ##############
      server {
            listen 8002;
            server_name {{ .Values.config.apiEndpoint }};

            # Add the Jupyterhub endpoints
            include /etc/nginx/jupyterhub.conf;
      }

        ############
        # Superset #
        ############
      server {
            listen 8003;
            server_name {{ .Values.config.apiEndpoint }};

            # Add the Superset endpoints
            include /etc/nginx/superset.conf;
      }

        #############
        # Websocket #
        #############
      server {
            listen 8004;
            server_name {{ .Values.config.apiEndpoint }};

            # Add the Websocket endpoints
            include /etc/nginx/websocket.conf;
      }
    }